@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

* {
  box-sizing: border-box;
  line-height: 1rem;
  margin: 0;
  padding: 0;
  font-family: "Red Hat Text";
}

body {
  min-width: 1340px;
  min-height: 100vh;
  overflow-x: hidden;
  text-align: center;
}

/* ======================== Star Main Area ================ */

#site {
  padding: 5rem 0rem;
  position: relative;
  background-size: cover;
  background-image: url(./images/bg-stars.svg);
  background-color: hsl(234, 17%, 12%);
}

.launch{
    padding: 1rem;
}

h1 {
  font-weight: 700;
  font-size: 1.5rem;
  color: hsl(0, 0%, 100%);
  letter-spacing: 0.5rem;
  line-height: 2rem;
  text-transform: uppercase;
  padding: 2rem;
}

.count {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.time {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.time1 {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.1em;
  color: transparent;
}

.top,
.bottom {
  font-size: 5rem;
  font-weight: 700;
  color: hsl(345, 95%, 68%);
}

.top,
.bottom,
.time1.top-flip,
.time1 .bottom-flip {
  height: 0.75em;
  line-height: 1;
  padding: 0.25em;
  overflow: hidden;
}

.top,
.time1 .top-flip {
  background-color: hsl(236, 21%, 26%);
  border-top-right-radius: 0.1em;
  border-top-left-radius: 0.1em;
}

.bottom,
.time1 .bottom-flip {
  background-color: hsl(235, 16%, 14%);
  display: flex;
  align-items: flex-end;
  border-bottom-right-radius: 0.1em;
  border-bottom-left-radius: 0.1em;
  box-shadow: 0 2px rgb(71, 83, 115, 0.2) inset;
}

.top-flip,
.bottom-flip {
  position: absolute;
}

.time1 .top-flip {
  position: absolute;
  width: 100%;
  animation: flip-top 0.5ms ease-in;
  transform-origin: bottom;
}

@keyframes flip-top {
  to {
    transform: rotateX(90deg);
  }
}

.time1 .bottom-flip {
  position: absolute;
  bottom: 0;
  width: 100%;
  animation: flip-bottom 0.5ms ease-out 0.5ms;
  transform-origin: top;
  transform: rotateX(90deg);
}

@keyframes flip-bottom {
  to {
    transform: rotateX(0deg);
  }
}

.time-span {
  font-size: 1rem;
  font-weight: 700;
  color: hsl(237, 18%, 59%);
}

.time-span {
  font-size: 1rem;
  font-weight: 700;
  color: hsl(237, 18%, 59%);
}

/* social */

.social {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 8rem;
  background-image: url(./images/pattern-hills.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  align-items: center;
  justify-content: center;
}

.social i {
  color: hsl(237, 18%, 59%);
  cursor: pointer;
}

.social i:hover {
  color: hsl(345, 95%, 68%);
}

/* ======================== End Main Area ================ */

/* ======================== START Footer Area ================ */

.foot {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 20px;
  color: hsl(35, 77%, 62%);
  justify-content: center;
  background-color: hsl(240, 10%, 16%);
  padding: 5px;
}

.foot a {
  color: hsl(5, 85%, 63%);
  text-decoration: none;
}

.foot a:hover {
  color: white;
}

/* ======================== End Footer Area ================ */

/* ======================== Start Media Querry Area ================ */

@media screen and (max-width: 375px) {
  body {
    min-width: 375px;
  }

  h1{
    font-size: 1.2rem;
  }

  .top,
  .bottom {
    font-size: 2rem;
  }

  .time{
    gap: 1rem;
  }
}
